  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<app-header-logged></app-header-logged>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Messages ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-lg-5 col-xl-4 mb-1 mb-md-0">
                <div class="p-3">

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Search bar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                  
                  <div class="input-group rounded mb-3">
                    <input type="search" class="form-control rounded" placeholder="Busca..." aria-label="Search" aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                      <i class="fas fa-search"></i>
                    </span>
                  </div>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Contacts ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                  
                  <div class="contacts">
                    <ul class="list-unstyled mb-0">
                      <li class="contact p-2 border-bottom">
                        <a href="#!" class="d-flex justify-content-between">
                          <div class="d-flex flex-row">
                            <img src="assets/img/NFT.jpg" alt="avatar" class="d-flex align-self-center me-3 rounded-circle" width="60">
                            <div class="pt-1">
                              <p class="contacts--name fw-bold mb-0">Oliver Blackmouth</p>
                              <p class="contacts--lastmessage small text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eos eveniet in soluta quam nobis molestiae, cupiditate facere iure sint necessitatibus adipisci perferendis quas quo sapiente? Asperiores ad voluptatem aliquam!</p>
                            </div>
                          </div>
                          <div class="pt-1">
                            <span class="badge bg-danger rounded-pill float-end"><i class="circle fa-solid fa-circle"></i></span>
                          </div>
                        </a>
                      </li>
                      <li class="contact p-2 border-bottom">
                        <a href="#!" class="d-flex justify-content-between">
                          <div class="d-flex flex-row">
                            <img src="assets/img/NFT.jpg" alt="avatar" class="d-flex align-self-center me-3 rounded-circle" width="60">
                            <div class="pt-1">
                              <p class="contacts--name fw-bold mb-0">Oliver Blackmouth</p>
                              <p class="contacts--lastmessage small text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eos eveniet in soluta quam nobis molestiae, cupiditate facere iure sint necessitatibus adipisci perferendis quas quo sapiente? Asperiores ad voluptatem aliquam!</p>
                            </div>
                          </div>
                          <div class="pt-1">
                            <span class="badge bg-danger rounded-pill float-end"><i class="circle fa-solid fa-circle"></i></span>
                          </div>
                        </a>
                      </li><li class="contact p-2 border-bottom">
                        <a href="#!" class="d-flex justify-content-between">
                          <div class="d-flex flex-row">
                            <img src="assets/img/NFT.jpg" alt="avatar" class="d-flex align-self-center me-3 rounded-circle" width="60">
                            <div class="pt-1">
                              <p class="contacts--name fw-bold mb-0">Oliver Blackmouth</p>
                              <p class="contacts--lastmessage small text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eos eveniet in soluta quam nobis molestiae, cupiditate facere iure sint necessitatibus adipisci perferendis quas quo sapiente? Asperiores ad voluptatem aliquam!</p>
                            </div>
                          </div>
                          <div class="pt-1">
                            <span class="badge bg-danger rounded-pill float-end"><i class="circle fa-solid fa-circle"></i></span>
                          </div>
                        </a>
                      </li><li class="contact p-2 border-bottom">
                        <a href="#!" class="d-flex justify-content-between">
                          <div class="d-flex flex-row">
                            <img src="assets/img/NFT.jpg" alt="avatar" class="d-flex align-self-center me-3 rounded-circle" width="60">
                            <div class="pt-1">
                              <p class="contacts--name fw-bold mb-0">Oliver Blackmouth</p>
                              <p class="contacts--lastmessage small text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eos eveniet in soluta quam nobis molestiae, cupiditate facere iure sint necessitatibus adipisci perferendis quas quo sapiente? Asperiores ad voluptatem aliquam!</p>
                            </div>
                          </div>
                          <div class="pt-1">
                            <span class="badge bg-danger rounded-pill float-end"><i class="circle fa-solid fa-circle"></i></span>
                          </div>
                        </a>
                      </li><li class="contact p-2 border-bottom">
                        <a href="#!" class="d-flex justify-content-between">
                          <div class="d-flex flex-row">
                            <img src="assets/img/NFT.jpg" alt="avatar" class="d-flex align-self-center me-3 rounded-circle" width="60">
                            <div class="pt-1">
                              <p class="contacts--name fw-bold mb-0">Oliver Blackmouth</p>
                              <p class="contacts--lastmessage small text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eos eveniet in soluta quam nobis molestiae, cupiditate facere iure sint necessitatibus adipisci perferendis quas quo sapiente? Asperiores ad voluptatem aliquam!</p>
                            </div>
                          </div>
                          <div class="pt-1">
                            <span class="badge bg-danger rounded-pill float-end"><i class="circle fa-solid fa-circle"></i></span>
                          </div>
                        </a>
                      </li><li class="contact p-2 border-bottom">
                        <a href="#!" class="d-flex justify-content-between">
                          <div class="d-flex flex-row">
                            <img src="assets/img/NFT.jpg" alt="avatar" class="d-flex align-self-center me-3 rounded-circle" width="60">
                            <div class="pt-1">
                              <p class="contacts--name fw-bold mb-0">Oliver Blackmouth</p>
                              <p class="contacts--lastmessage small text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eos eveniet in soluta quam nobis molestiae, cupiditate facere iure sint necessitatibus adipisci perferendis quas quo sapiente? Asperiores ad voluptatem aliquam!</p>
                            </div>
                          </div>
                          <div class="pt-1">
                            <span class="badge bg-danger rounded-pill float-end"><i class="circle fa-solid fa-circle"></i></span>
                          </div>
                        </a>
                      </li><li class="contact p-2 border-bottom">
                        <a href="#!" class="d-flex justify-content-between">
                          <div class="d-flex flex-row">
                            <img src="assets/img/NFT.jpg" alt="avatar" class="d-flex align-self-center me-3 rounded-circle" width="60">
                            <div class="pt-1">
                              <p class="contacts--name fw-bold mb-0">Oliver Blackmouth</p>
                              <p class="contacts--lastmessage small text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eos eveniet in soluta quam nobis molestiae, cupiditate facere iure sint necessitatibus adipisci perferendis quas quo sapiente? Asperiores ad voluptatem aliquam!</p>
                            </div>
                          </div>
                          <div class="pt-1">
                            <span class="badge bg-danger rounded-pill float-end"><i class="circle fa-solid fa-circle"></i></span>
                          </div>
                        </a>
                      </li><li class="contact p-2 border-bottom">
                        <a href="#!" class="d-flex justify-content-between">
                          <div class="d-flex flex-row">
                            <img src="assets/img/NFT.jpg" alt="avatar" class="d-flex align-self-center me-3 rounded-circle" width="60">
                            <div class="pt-1">
                              <p class="contacts--name fw-bold mb-0">Oliver Blackmouth</p>
                              <p class="contacts--lastmessage small text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eos eveniet in soluta quam nobis molestiae, cupiditate facere iure sint necessitatibus adipisci perferendis quas quo sapiente? Asperiores ad voluptatem aliquam!</p>
                            </div>
                          </div>
                          <div class="pt-1">
                            <span class="badge bg-danger rounded-pill float-end"><i class="circle fa-solid fa-circle"></i></span>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Chat ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

              <div class="col-md-6 col-lg-7 col-xl-8">
                <div class="chat pt-3 pe-3">
                  <div class="d-flex flex-row justify-content-start">
                    <img src="assets/img/JMM.jpg" class="chat--image rounded-circle mt-2" alt="avatar contact">
                    <div>
                      <p class="chat--contact small p-2 ms-3 mb-1 rounded-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <p class="small ms-3 mb-3 rounded-3 text-muted">12:00 PM | Aug 13</p>
                    </div>
                  </div>
                  <div class="d-flex flex-row justify-content-end">
                    <div>
                      <p class="chat--user small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      <p class="small me-3 mb-3 rounded-3 text-muted float-end">12:00 PM | Aug 13</p>
                    </div>
                    <img src="assets/img/NFT.jpg" class="chat--image rounded-circle  mt-2" alt="avatar user">
                  </div>
                  <div class="d-flex flex-row justify-content-start">
                    <img src="assets/img/JMM.jpg" class="chat--image rounded-circle  mt-2" alt="avatar contact">
                    <div>
                      <p class="chat--contact small p-2 ms-3 mb-1 rounded-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <p class="small ms-3 mb-3 rounded-3 text-muted">12:00 PM | Aug 13</p>
                    </div>
                  </div>
                  <div class="d-flex flex-row justify-content-end">
                    <div>
                      <p class="chat--user small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      <p class="small me-3 mb-3 rounded-3 text-muted float-end">12:00 PM | Aug 13</p>
                    </div>
                    <img src="assets/img/NFT.jpg" class="chat--image rounded-circle  mt-2" alt="avatar user">
                  </div>

                </div>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Send message ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2">
                  <img src="assets/img/NFT.jpg" alt="avatar user" class="chat--image rounded-circle">
                  <input type="text" class="form-control form-control-lg  mx-3" placeholder="Mensaje...">
                  <a class="ms-1 text-muted"><i class="fas fa-paperclip"></i></a>
                  <a class="ms-3 text-muted"><i class="fas fa-smile"></i></a>
                  <a class="ms-3"><i class="fas fa-paper-plane"></i></a>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>