  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <app-header-logged></app-header-logged>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Messages ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-lg-5 col-xl-4 mb-1 mb-md-0">
                <div class="p-3">

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Search bar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                  
                  <div class="input-group rounded mb-3">
                    <input type="search" class="form-control rounded"  [(ngModel)]="searchContact" placeholder="Busca un contacto..." aria-label="Search" aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                      <i class="fas fa-search"></i>
                    </span>
                  </div>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Contacts ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                  
                  <div class="contacts">
                    <ul class="list-unstyled mb-0">
                      <li *ngFor="let contact of contacts | filter:searchContact" class="contact p-2 border-bottom">
                        <a *ngIf="contact._id != ''" class="d-flex justify-content-between">
                          <div class="d-flex flex-row" type="button">
                            <img [src]="'assets/photo/' + contact.photoroute" alt="avatar" class="d-flex align-self-center rounded-circle" width="50" height="50">
                            <div class="pt-1" (click)="seeProfile(contact._id)">
                              <p class="contacts--name fw-bold mb-0">{{contact.username}}</p>
                              <p class="contacts--lastmessage small text-muted">{{contact.biography}}</p>
                            </div>
                          </div>
                          <div class="pt-1">
                            <span type="button" class="badge bg-danger rounded float-end" (click)="openChat(contact._id)"><i class="fa fa-envelope"></i></span>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Chat ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  
              <div *ngFor="let a of actualuser" class="col-md-6 col-lg-7 col-xl-8">
                <div class="d-flex flex-row justify-content-start mb-3" (click)="seeProfile(a._id)" type="button">
                  <img [src]="'assets/photo/' + a.photoroute" class="d-flex align-self-center me-3 rounded-circle" width="50" height="50">
                  <p class="contacts--name fw-bold mb-0">{{a.username}}</p>
                </div>
                <div class="chat pt-3 pe-3">
                  <div *ngFor="let message of messages">
                    <div *ngFor="let mens of message">
                      <div *ngIf="mens.userid == mycookie">
                        <div *ngFor="let u of myuser" class="d-flex flex-row justify-content-end">
                          <div>
                            <p class="chat--user small p-2 mb-1 text-white rounded-3 bg-primary">{{mens.text}}</p>
                            <p class="small ms-3 mb-3 rounded-3 text-muted">{{mens.createdAt}}</p>
                          </div>
                          <i type="button" class="fa fa-trash" aria-hidden="true" (click)="deleteMessage(a._id, mens._id)"></i><i type="button" class="fas fa-edit" (click)="showEditForm(mens._id)"></i><img [src]="'assets/photo/' + u.photoroute" class="chat--image rounded-circle mt-2 mx-3" type="button" (click)="seeProfile(u._id)" alt="avatar contact">
                        </div>
                      </div>
                      <div *ngIf="mens.userid !== mycookie" class="d-flex flex-row justify-content-start">
                        <img [src]="'assets/photo/' + a.photoroute" class="chat--image rounded-circle mt-2 mx-3" (click)="seeProfile(a._id)" type="button" alt="avatar user">
                        <div>
                          <p class="chat--contact small p-2 mb-1 rounded-3">{{mens.text}}</p>
                          <p class="small me-3 mb-3 rounded-3 text-muted float-end">{{mens.createdAt}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="showForm == true">
                  <form class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2"  #editForm="ngForm" (ngSubmit)="editMessage(a._id, editForm)">
                    <input value="text" class="form-control form-control-lg  mx-3" placeholder="Edita el mensaje aquí..." name="text" [(ngModel)]="registerandloginService.createdMessage.text">
                    <button class="btn btn-success" aria-hidden="true" type="submit"><i class="fa-solid fa-paper-plane"></i></button>
                  </form>
                </div>
                <div *ngIf="showForm !== true">
                  <form class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2"  #messageForm="ngForm" (ngSubmit)="sendMessage(messageForm, a._id)">
                    <input type="text" class="form-control form-control-lg  mx-3" placeholder="Mensaje..." name="text" [(ngModel)]="registerandloginService.createdMessage.text">
                    <button class="btn btn-success" aria-hidden="true" type="submit"><i class="fa-solid fa-paper-plane"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>