<body>
  <section class="vh-100">
    <div class="container py-2 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        
        <div class="image col-md-8 col-lg-7 col-xl-6">
          <a routerLink="/menu" routerLinkActive="active"><img src="assets/img/secondLogo.png" class="rounded-circle"></a>
        </div>
        
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          
          <form>

            <!-- Post image button -->
            <div class="form-outline mb-4">
              <button type="button" class="btn btn-primary btn-lg btn-block w-100">Lorem, ipsum dolor sit</button>
            </div>
  
            <!-- Post audio button -->
            <div class="form-outline mb-4">
              <button type="button" class="btn btn-primary btn-lg btn-block w-100">Lorem, ipsum dolor sit</button>
            </div>

            <!-- Post audio button -->
            <div class="form-outline mb-4">
              <button type="button" class="btn btn-primary btn-lg btn-block w-100">Lorem, ipsum dolor sit</button>
            </div>

          </form>
          
        </div>
      </div>
    </div>
  </section>
</body>