<body>
  <section class="vh-100">
    <div class="container py-2 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        
        <div class="image col-md-8 col-lg-7 col-xl-6">
          <a routerLink="/menu" routerLinkActive="active"><img src="assets/img/secondLogo.png" class="rounded-circle"></a>
        </div>
        
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          
          <form>

            <div class="form-outline mb-4 text-center">
              <h1>Crea un post</h1>
            </div>

            <!-- Post image button -->
            <div class="form-outline mb-4">
              <a routerLink="/createpostimage" routerLinkActive="active"><button type="button" class="btn btn-success btn-lg btn-block w-100">Post con imagen <i class="fa-solid fa-image"></i></button></a>
            </div>
  
            <!-- Post audio button -->
            <div class="form-outline mb-4">
              <a routerLink="/createpostaudio" routerLinkActive="active"><button type="button" class="btn btn-success btn-lg btn-block w-100">Post con audio <i class="fa-solid fa-circle-play"></i></button></a>
            </div>

            <!-- Post text button -->
            <div class="form-outline mb-4">
              <a routerLink="/createposttext" routerLinkActive="active"><button type="button" class="btn btn-success btn-lg btn-block w-100">Post con texto <i class="fa-solid fa-comment"></i></button></a>
            </div>

          </form>
          
        </div>
      </div>
    </div>
  </section>
</body>