<body>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <app-header></app-header>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FIRST DIV ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <div class="div--first text-white text-center">
    <div class="container row h-75 d-flex align-items-center justify-content-between mx-auto">
      <div class="text--first col-6">

        <p class="soundtalk title">
          SoundTalk
        </p>
        <h3 class="text">
          SoundTalk es una página web donde los usuarios pueden liberar toda su creatividad juntando los foros con la música.
          <br>Adéntrate en nuestra aplicación y descubre lo más nuevo sobre música y tus artistas favoritos.
          <br>Descubre ofertas y promociones inéditas con códigos para Spotify, Apple Music, Amazon Music y muchísimas marcas más que trabajan con nosotros.
          <br><br><h2 class="title">¡Bienvenido!</h2>

        </h3>
      
      </div>

      <div class="image--first col-5">
        <img class="foto--landing" src="assets/img/Foto_Landing_1.png" alt="mdo">
      </div>

    </div>
  </div>

  <br><br>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SECOND DIV ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <div class="div--second text-white text-center">
    <div class="container row h-75 d-flex align-items-center justify-content-between mx-auto">
      
      <div class="image--second col-5">
        <img class="foto--landing" src="assets/img/Foto_Landing_3.png" alt="mdo">
      </div>
      
      <div class="text--second col-6">

        <p class="soundtalk title">
          Pruébalo
        </p>
        <h3 class="text">
          Agrega a los creadores de posts más ingeniosos, chatea con innumerables amigos y puntúa las publicaciones más divertidas. Comparte memes, gifs y contagia a todos tus amigos las ganas de probar SoundTalk
          <br><br><h2 class="title">¿Te atreves?</h2>

        </h3>
      
      </div>

    </div>
  </div>
  
  <br><br>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CAROUSEL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <ngb-carousel class="h-100 w-100">
    <ng-template ngbSlide *ngFor="let image of images">
      <div>
        <img class="images--carousel h-100 d-block mx-auto" [src]="image.src">
      </div>
    </ng-template>
  </ngb-carousel>

  <br><br>
  
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ THIRD DIV ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <div class="div--third text-white text-center">
    <div class="container row h-75 d-flex align-items-center justify-content-between mx-auto">
      <div class="text--third col-6">

        <p class="soundtalk title">
          Chatea
        </p>
        <h3 class="text">
          ¿Eres el más popular de toda tu clase? seguro que tendrás cientos de amigos en SoundTalk con los que hablar de cotilleos sobre músicos, las publicaciones que habeis visto o de como os ha ido el dia, prueba la experiencia SoundTalk y no te arrepentirás!
          <br><br><h2 class="title">¡Descubrenos!</h2>
        </h3>
      
      </div>

      <div class="image--third col-5">
        <img class="foto--landing" src="assets/img/Foto_Landing_4.png" alt="mdo">
      </div>

    </div>
  </div>

  <br><br>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FORTH DIV ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <div class="div--forth text-white text-center">
    <div class="container row h-75 d-flex align-items-center justify-content-between mx-auto">
      
      <div class="image--forth col-5">
        <img class="foto--landing" src="assets/img/Foto_Landing_2.png" alt="mdo">
      </div>
      
      <div class="text--forth col-6">

        <p class="soundtalk title">
          Publica
        </p>
        <h3 class="text">
          ¿Crees que eres la persona que más publicaciones guarda en su cuenta? En SoundTalk tendrás competencia. Lucha por subir los mejores posts y ser el más ingenioso de la temporada, ¡Dale like a los posts que más te gustan!.
          <br><br><h2 class="title">¿A qué esperas?</h2>
        </h3>
      
      </div>

    </div>
  </div>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TOP BUTTON ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  
  <ng-go-top-button class="top">
        <i><span class="material-symbols-outlined">
          pan_tool_alt
        </span></i>
  </ng-go-top-button>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  
  <app-footer></app-footer>

</body>