.dropdown-toggle::after {
    display:none;
}

.button--login{
    margin-right: 1vw;
}

.button--register{
    margin-right: 1vw;
}

.exit--closed, .exit--open{
    margin-right: 10px;
}

.user--content{
    position: relative;
    font-weight: bold;
}

.exits:hover .exit--closed:before{
    content: "\f52b";
}

.user--content:hover{
    color: rgb(10,88,202);
    transition: 0.3s;
}

@media only screen and (max-width: 990px) {
    .user{
        margin-top: 0.5vw;
    }

    .exit--closed, .exit--open{
        margin-top: 0.5vw;
    }
}