body{
    margin: 0;
    margin-bottom: 7%;
}

.card{
    border-radius: 10px;
}

.profile--header{
    background-color: rgb(237, 206, 255);
    height:200px;
}

.profile--info{
    margin-top: 130px;
}

.profile--image{
    width: 150px;
    height: 150px;
    z-index: 1;
    background: rgb(18,219,255);
    background: linear-gradient(125deg, rgba(18,219,255,1) 16%, rgba(218,0,212,1) 88%);
}

.logo{
    position: absolute;
    right: 0;
    margin-top: 137px;
}

.info{
    margin-top: 30px;
}

.profile--image_input{
    margin-top: 30px;

}

.info--details{
    display: flex;
    justify-content: space-between;
}

.info--details_input{
    background-color: rgb(235, 235, 235);
}

.info--details_mail{
    margin-left: 6%;
}

.info--exit{
    height: 100px;
}

.profile--personal{
    margin-bottom: -2.3%;
}



@media only screen and (max-width: 990px) {
    
    .info--details{
        display: block;
        margin-left: 45%;
    }

    .info--details_mail{
        margin-left: -82%;
    }
    
}

@media only screen and (max-width: 507px) {

    .info--details{
        display: contents;
    }

    .info--details_input{
        margin-left: 50%;
    }

    .form-control{
        margin-bottom: 10px;
    }

    .info--details_mail{
        display: none;
    }

    .logo{
        display: none;
    }

}
