<body>

  <section class="">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col">
          <div class="card border-0">
            <div class="profile--header text-black d-flex">
              <div class="ms-4 mt-5 d-flex flex-column">
                <a href="assets/img/NFT.jpg" target="_blank"><img src="assets/img/NFT.jpg" alt="User Image" class="profile--image img-fluid img-thumbnail mt-4 mb-2 border-0"></a>
                <a routerLink="/editprofile" routerLinkActive="active" type="button" class="btn btn-outline-dark" style="z-index: 1;">
                  Editar perfil
                </a>
              </div>
              <div class="profile--info ms-3">
                <h5 class="fw-bold">Oliver Bocanegra</h5>
                <p>Barsalona</p>
              </div>
            </div>
            <hr class="mx-3"/>
            <div class="info">
              <div class="mx-4">
                <h5 class="fw-bolder">Biografía</h5>
                <p class="bio--text mx-2 my-2" data-placeholder="Biografía aún por rellenar.">Lorem ipsum dolor sit amet consectetur adipisicing elit. A omnis modi culpa aperiam ab ullam eos dolorem alias debitis accusamus beatae, dolorum labore, provident aliquid animi ratione tempora quas sunt! ¡Hola! Soy Oliver y este es mi perfil.</p>
              </div>
              <div class="col text-center mx-4 my-4 d-flex justify-content-between">
                <div class="col-3">
                  <h5 class="fw-bold">Mail</h5>
                  <h6 class="info--mail">jomome@fp.insoaquimmir.cat</h6>
                </div>
                <div class="col-3">
                  <h5 class="fw-bold">Género</h5>
                  <h6>Tractor</h6>
                </div>
                <div class="col-3">
                  <h5 class="fw-bold">Estado</h5>
                  <h6>Vida de artista</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>