body {
    margin: 0;
    margin-bottom: 7%;
}

.profile--header{
    background-color: rgb(237, 206, 255);
    height:200px;
}

.profile--info{
    margin-top: 130px;
}

.profile--image{
    width: 150px; 
    z-index: 1;
    background: rgb(18,219,255);
    background: linear-gradient(125deg, rgba(18,219,255,1) 16%, rgba(218,0,212,1) 88%);
}

.posts{
    margin-left: -5px;
    margin-right: -5px;
    border-color: rgb(237, 206, 255);
}

.posts--title{
    font-family: 'Fredoka One', cursive;
}

.post{
    background-color: white;
    transition: 0.5s;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
}

.post:hover{
    background-color: rgb(240, 240, 240);
}

.tipo{
    background-color: rgb(204, 115, 255);
    border: none;
    color: white;
    font-weight: bold;
}

.username{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 160px;
}

.user--photo{
    margin-right: 2px;
}

@media only screen and (max-width: 1000px) {

    .info--mail{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .card{
        margin-left: 0%;
        margin-right: 0%;
    }

    .posts{
        margin-left: -5px;
        margin-right: -5px;
    }

}