<body>

  <form #editUserForm="ngForm" (ngSubmit)="updateUser(editUserForm)" *ngFor="let u of user">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col">
          <div class="card border-0 rounded-5">
            <div class="profile--header text-black d-flex justify-content-center">
              <div class="d-flex mt-5">
                <a [href]="previsualize"><img *ngIf="previsualize" class="profile--image img-fluid img-thumbnail mt-4 mb-2 border-0" [src]="previsualize"></a>
                <a [href]="'assets/photo/' + u.myphoto" target="_blank"><img [src]="'assets/photo/' + u.myphoto" alt="User Image" class="profile--image img-fluid img-thumbnail mt-4 mb-2 border-0"></a>
              </div>
            </div>
            <div class="logo">
              <a routerLink="/menu" routerLinkActive="active" class="d-flex align-items-center mb-2 mb-lg-0 me-lg-3">
                <img src="assets/img/firstLogo.png" alt="Page Logo" width="128" height="128" class="rounded-circle">
              </a>
            </div>
            <div class="profile--image_input mx-auto">
              <input type="file" accept="image/*" class="" id="photoid" name="photoid" [(ngModel)]="u.photoid" (change)="captureFile($event)" (change)="onFileChanged($event)"/>
            </div>
            <div class="profile--personal mx-4 mt-4">
              <label class="form-label fw-bold">Nombre</label><br>
              <input class="mb-2" type="text" name="username" placeholder="{{u.username}}" [(ngModel)]="u.username"><br>
              <label class="form-label fw-bold">Ciudad</label><br>
              <input class="mb-2" type="text" placeholder="{{u.ubication}}" name="ubication" [(ngModel)]="u.ubication">
            </div>
            <div class="info">
              <hr class="mx-3"/>
              <div class="mx-4">
                <h5 class="fw-bolder">Biografía</h5>
                <textarea class="form-control mt-1" rows="3" id="content" name="biography" placeholder="{{u.biography}}" [(ngModel)]="u.biography"></textarea>
              </div>
              <div class="info--details col text-center my-4">
                <div class="info--details_mail col-xs-3">
                  <h5 class="fw-bold">Mail</h5>
                  <input class="info--details_input form-control mb-3 text-center" type="text" placeholder="{{u.mail}}" readonly>
                </div>
                <div class="col-3">
                  <h5 class="fw-bold">Género ({{u.gender}})</h5>
                  <input type="hidden" name="gender" [(ngModel)]="u.gender">
                  <div class="d-inline-block mb-3" ngbDropdown #myDrop="ngbDropdown">
                    <button type="button" class="tipo btn btn-outline-primary btn-sm me-2" name="gender" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()" value="GENERO">Género</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownManual">
                      <button ngbDropdownItem (click)="u.gender='Hombre'">Hombre</button>
                      <button ngbDropdownItem (click)="u.gender='Mujer'">Mujer</button>
                      <button ngbDropdownItem (click)="u.gender='Otro'">Otro</button>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <h5 class="fw-bold">Estado ({{u.status}})</h5>
                  <input type="hidden" name="status" [(ngModel)]="u.status">
                  <div class="d-inline-block" ngbDropdown #myDropState="ngbDropdown">
                    <button type="button" class="tipo btn btn-outline-primary btn-sm me-2" name="status" id="dropdownState" ngbDropdownAnchor (focus)="myDropState.open()" value="ESTADO">Estado</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownState">
                      <option ngbDropdownItem (click)="u.status='Artista'">Artista</option>
                      <option ngbDropdownItem (click)="u.status='Público'">Público</option>
                      <option ngbDropdownItem (click)="u.status='Productor'">Productor</option>
                      <option ngbDropdownItem (click)="u.status='Otro'">Otro</option>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-inline-flex p-4 bd-highlight">
                <button type="submit" class="btn btn-success btn-lg btn-block" (click)="submit(u._id)">Edita</button>
                <i class="fa-solid fa-right-from-bracket fa-3x mx-4" type="button" (click)="seeProfile(u._id)"></i>
                <a type="button" class="delete btn btn-danger btn-lg btn-block" (click)="deleteAccount(u._id)">Eliminar cuenta</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>