<body>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <app-header-logged></app-header-logged>

  <section class="" *ngFor="let u of user">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col">
          <div class="card border-0">
            <div class="profile--header text-black d-flex">
              <div class="ms-4 mt-5 d-flex flex-column">
                <img [src]="'assets/photo/' + u.myphoto" alt="User Image" class="profile--image img-fluid img-thumbnail mt-4 mb-2 border-0">
                <a *ngIf="u._id == mycookie" routerLink="/editprofile" routerLinkActive="active" type="button" class="btn btn-outline-dark" style="z-index: 1;">
                  Editar perfil
                </a>
                <a *ngIf="u._id !== mycookie" type="button" class="btn btn-outline-dark" style="z-index: 1;" (click)="sendFriendRequest(this.cookie.get('cookieSoundTalkSession'),u._id)">
                  Agregar contacto
                </a>
              </div>
              <div class="profile--info ms-3">
                <h5 class="fw-bold" ng-show="user.username">{{u.username}}</h5>
                <p>{{u.ubication}}</p>
              </div>
            </div>
            <div class="p-4 text-black">
              <div class="d-flex justify-content-end text-center py-1">
                <div>
                  <p class="mb-1 h5">{{u.myposts.length}}</p>
                  <p class="small text-muted mb-0">Posts publicados</p>
                </div>
                <div class="px-3">
                  <p class="mb-1 h5"></p>
                  <p class="small text-muted mb-0">Amigos</p>
                </div>
                <div class="px-3">
                  <p class="mb-1 h5">{{u.mylikes.length}}</p>
                  <p class="small text-muted mb-0">Likes a usuarios</p>
                </div>
              </div>
            </div>
            <div class="info">
              <hr class="mx-3"/>
              <div class="mx-5">
                <h5 class="fw-bolder">Biografía</h5>
                <p class="mx-2 my-2">{{u.biography}}</p>
              </div>
              <div class="col text-center mx-4 my-4 d-flex justify-content-between">
                <div class="col-3">
                  <h5 class="fw-bold">Mail</h5>
                  <h6 class="info--mail">{{u.mail}}</h6>
                </div>
                <div class="col-3">
                  <h5 class="fw-bold">Género</h5>
                  <h6>{{u.gender}}</h6>
                </div>
                <div class="col-3">
                  <h5 class="fw-bold">Estado</h5>
                  <h6>{{u.status}}</h6>
                </div>
              </div>
              <div class="posts card border-5">
                <div class="posts--title text-center mt-4 mb-1">
                  <h3>Posts</h3>
                  <hr class="mx-3"/>
                </div>
                <div class="mb-4"*ngFor="let post of u.myposts">
                  <div class="card post rounded-3">
                    <div class="card-header">
                      <p class="username"><img src="assets/img/icon_user.png" alt="User Icon" width="20" height="20" class="user--photo rounded-circle ">{{u.username}}</p>
                      <p class="category btn btn-sm">{{post.type}}</p>
                      <p *ngIf="u._id == mycookie" class="btn btn-sm" right="20" (click)="deletePost(u._id, post._id)"><i class="fa-solid fa-trash-can"></i></p>
                      <h5 class="card-title">{{post.title}}</h5>
                    </div>
                    
                    <div class="card-body">
                      <a href="assets/img/Bckgd2.jpg" target="_blank"><img class="post--image" [src]="'assets/photo/'+ post.photoid" alt="Post Image"></a>
                      <audio class="w-100 mb-3" controls [src]="post.audioid" type="audio/*">
                        Your browser does not support the <code>audio</code> element.
                      </audio>
                      <h5 class="post--text">{{post.content}}</h5>
                    </div>

                    <div class="card-footer text-muted d-flex align-items-center justify-content-between">
                      <h6 class="comments mt-1" type="button" (click)="downloadComments(post.commentsid)">Ver comentarios ({{post.commentsid.length}})</h6><a type="button" (click)="putLike(post._id)"><i class="post--up fa-solid fa-circle-up">{{post.likes.length}}</i></a>
                      <div *ngFor="let like of post.likes" class="my-3">
                        <button type="submit" class="btn btn-success btn-sm mt-3" *ngIf="like == mycookie">TE GUSTA ESTE POST</button>
                      </div>
                    </div>

                    <div *ngFor="let comment of post.commentsid" class="my-3">
                      <div class="coment--costum" *ngIf="comment.userid == mycookie">
                        <i class="fa-solid fa-star"></i>
                        <i type="submit" class="fa-solid fa-trash" (click)="deleteComment(comment._id, post._id)"></i>
                      </div>
                      <div class="coment--costum" *ngIf="comment.userid !== mycookie">
                        <i class="fa-solid fa-user" (click)="seeProfile(comment.userid)"></i>         
                      </div>
                      <h5 class="card-title">{{comment.username}}</h5>
                      <h5 class="post--text">{{comment.text}}</h5>
                    </div>

                    <form class="mx-3 mt-3" #commentForm="ngForm" (ngSubmit)="addComment(commentForm,post._id)">
                      <textarea class="form-control mt-1" id="text" name="text" placeholder="Escribe tu comentario a {{u.username}} aquí..." [(ngModel)]="postsService.createdComment.text"></textarea>
                      <button type="submit" class="btn btn-success btn-sm mt-3">Subir comentario</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>