<body>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <app-header-logged></app-header-logged>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CREAR POST ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <form class="create card rounded-3 mb-1" #postForm="ngForm" (ngSubmit)="createPost(postForm)">

    <div class="card-header">
      <h5 class="card--title mt-2">Crea un post</h5>
    </div>
    
    <div class="card-body">

      <div class="form-group mb-3">
        <label>Titulo</label>
        <input class="form-control mt-1" placeholder="Escribe un titulo..." id="title" name="title" [(ngModel)]="postsService.createdPost.title">
      </div>
      <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
        <button type="button" class="tipo btn btn-outline-primary btn-sm me-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Tipo de post</button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button ngbDropdownItem [(ngModel)]="postsService.createdPost.type" (click)="changeFilter('news')">Novedades</button>
          <button ngbDropdownItem [(ngModel)]="postsService.createdPost.type" (click)="changeFilter('gossip')">Cotilleos</button>
          <button ngbDropdownItem [(ngModel)]="postsService.createdPost.type" (click)="changeFilter('QAndA')">Q & A</button>
          <button ngbDropdownItem [(ngModel)]="postsService.createdPost.type" (click)="changeFilter('meme')">Memes</button>
        </div>
      </div>
      <div>
        <div class="form-group my-2">
          <label class="mb-1">Imatge</label>
          <input type="file" accept="image/*" class="form-control mb-3" id="photoid" name="photoid" [(ngModel)]="postsService.createdPost.photoid" (change)="captureFile($event)" (change)="onFileChanged($event)"/>
          <label class="mb-1">Audio</label>
          <input type="file" accept="audio/*" class="form-control mb-3" id="audioid" name="audioid" [(ngModel)]="postsService.createdPost.audioid" (change)="onAudioUpload($event)"/>
          <label>Text</label>
          <textarea class="form-control mt-1" id="si" rows="3" id="content" name="content" [(ngModel)]="postsService.createdPost.content"></textarea>
          <button type="submit" class="btn btn-success btn-sm mt-3">Crear post</button>
        </div>
      </div>

      <div *ngIf="previsualize">
          <a [href]="previsualize" target="_blank"><img width="200px" [src]="previsualize" alt="Image to upload"></a>
      </div>

    </div>
  </form>

  <div class="card mt-0">
    <div class="categoryfilter d-flex justify-content-between my-3 mx-4">
      <button type="button" class="btn btn-primary fw-bold border-0" (click)="filterbyNews()">NOVEDADES</button>
      <button type="button" class="btn btn-primary fw-bold border-0" (click)="filterbyQAndA()">Q&A</button>
      <button type="button" class="btn btn-primary fw-bold border-0" (click)="filterbyGossips()">COTILLEOS</button>
      <button type="button" class="btn btn-primary fw-bold border-0" (click)="filterbyMemes()">MEMES</button>
    </div>
  </div>
  

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ POST ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- routerLink="/" routerLinkActive="active" -->

  <div *ngFor="let post of posts" class="mb-5">
    <div class="card rounded-3">
      <a class="text-decoration-none text-dark">
  
        <div class="card-header">
          <p class="username" type="button" (click)="seeProfile(post.userid)"><img src="assets/img/icon_user.png" type="button" alt="User Icon" width="20" height="20" class="user--photo rounded-circle" (click)="seeProfile(post.userid)">{{post.username}}</p>
          <p class="category btn btn-sm">{{post.type}}</p>
          <h5 class="card--title">{{post.title}}</h5>
        </div>
        
        <div class="card-body">
          <a [href]="'assets/photo/' + post.photoid" target="_blank"><img class="post--image mb-3" [src]="'assets/photo/' + post.photoid" alt="Post Image"></a>
          <audio class="w-100 mb-3" controls [src]="post.audioid" type="audio/*">
            Your browser does not support the <code>audio</code> element.
          </audio>
          <h5 class="post--text">{{post.content}}</h5>
        </div>

        <div class="card-footer text-muted d-flex align-items-center justify-content-between">
          <h6 class="comments pointer my-1" (click)="downloadComments(post.commentsid)">Comentarios ({{post.commentsid.length}})</h6>
          <a type="button" (click)="putLike(post._id)" class="my-1 post--up">
            <i class="fa-solid fa-circle-up"> {{post.likes.length}}</i>
            <div *ngFor="let like of post.likes" >
              <i class="post--like fa-solid fa-heart text-white" type="submit" *ngIf="like == mycookie"></i>
            </div>
          </a>
        </div>

        <div *ngFor="let comment of post.commentsid" class="my-3">
          <div class="card mb-3 mx-2">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                  <img src="assets/img/NFT.jpg" class="pointer" alt="User Image" width="25" height="25" (click)="seeProfile(comment.userid)"/>
                  <p class="pointer small mb-0 ms-2 fw-bold" (click)="seeProfile(comment.userid)">{{comment.username}}</p>
                  <div *ngIf="comment.userid == mycookie">
                    <i class="fa-solid fa-star text-warning"></i>
                    <i type="submit" class="comments--trash fa-solid fa-trash float-right" (click)="deleteComment(comment._id, post._id)"></i>
                  </div>
                </div>
              </div>
              <p class="mt-2 my-auto">{{comment.text}}</p>
            </div>
          </div>

        </div>

        <form class="mx-3 mt-3" #commentForm="ngForm" (ngSubmit)="addComment(commentForm,post._id)">
          <textarea class="form-control mt-1" id="text" name="text" placeholder="Escribe tu comentario a {{post.username}} aquí..." [(ngModel)]="postsService.createdComment.text"></textarea>
          <button type="submit" class="btn btn-success btn-sm mt-3">Subir comentario</button>
        </form>
      </a>
    </div>
  </div>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TOP BUTTON ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  
  <ng-go-top-button >
    <i><span class="material-symbols-outlined">
      pan_tool_alt
    </span></i>
  </ng-go-top-button>
  
</body>