<body>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <app-header-logged></app-header-logged>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CREAR POST ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <form class="create card rounded-3" #postForm="ngForm" (ngSubmit)="createPost(postForm)">

    <div class="card-header">
      <h5 class="card-title mt-2">Crea un post</h5>
    </div>
    
    <div class="card-body">
      <div class="form-group mb-3">
        <label>Titulo</label>
        <input class="form-control mt-1" placeholder="Escribe un titulo..." id="title" name="title" [(ngModel)]="postsService.createdPost.title">
      </div>


      <div>
        <div class="form-group my-2">
          <label class="mb-1">Imatge</label>
          <input type="file" accept="image/*" class="form-control mb-3" id="photoid" name="photoid" [(ngModel)]="postsService.createdPost.photoid" (change)="captureFile($event)" (change)="onFileChanged($event)"/>
          <label class="mb-1">Audio</label>
          <input type="file" accept="audio/*" class="form-control mb-3" id="audioid" name="audioid" [(ngModel)]="postsService.createdPost.audioid" (change)="onAudioUpload($event)"/>
          <label>Text</label>
          <textarea class="form-control mt-1" id="si" rows="3" id="content" name="content" [(ngModel)]="postsService.createdPost.content"></textarea>
          <button type="submit" class="btn btn-success btn-sm mt-3">Crear post</button>
        </div>
      </div>

      <div *ngIf="previsualize">
          <img width="200px" [src]="previsualize" alt="">
      </div>

    </div>

  </form>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ POST IMAGE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- routerLink="/" routerLinkActive="active" -->

  <div *ngFor="let post of posts">
    <div class="card rounded-3">
      <a class="text-decoration-none text-dark">
  
        <div class="card-header">
          <a routerLink="/" routerLinkActive="active"><p class="username"><img src="assets/img/icon_user.png" alt="User Icon" width="20" height="20" class="user--photo rounded-circle">{{post.userid}}</p></a>
          <p class="category btn btn-sm">{{post.type}}</p>
          <h5 class="card-title">{{post.title}}</h5>
        </div>
        
        <div class="card-body">
          <img [src]="'assets/photo/' + post.photoid" alt="User Icon">
          <audio class="w-100" controls [src]=post.audioid type="audio/mp3">
            Your browser does not support the <code>audio</code> element.
          </audio>
          <h5 class="post--text">{{post.content}}</h5>
        </div>
        <div class="card-footer text-muted d-flex align-items-center justify-content-between">
          <h6 class="comments mt-1">Comentarios ({{post.comments}})</h6><a href="/#/terms"><i class="post--up fa-solid fa-circle-up"> {{post.likes}}</i></a>
        </div>
        <form #commentForm="ngForm" (ngSubmit)="addComment(commentForm,post._id)">
          <textarea class="form-control mt-1" id="text" name="text" placeholder="Escribe tu comentario a {{post.userid}} aquí..." [(ngModel)]="postsService.createdComment.text"></textarea>
          <button type="submit" class="btn btn-success btn-sm mt-3">Subir comentario</button>
        </form>
      </a>
    </div>
  </div>

  <div class="card rounded-3">
    <a href="#" class="text-decoration-none text-dark">

      <div class="card-header">
        <p class="username"><img src="assets/img/icon_user.png" alt="User Icon" width="20" height="20" class="user--photo rounded-circle">username</p>
        <h5 class="card-title">Un titulo increíble del post</h5>
      </div>
      
      <div class="card-body">
        <a href="assets/img/Bckgd2.jpg"><img class="post--image" src="assets/img/Bckgd2.jpg" alt="Post Image"></a>
      </div>
      <div class="card-footer text-muted d-flex align-items-center justify-content-between">
        <h6>Comentarios</h6><i class="post--up fa-solid fa-circle-up"> 58</i>
      </div>

    </a>
  </div>

  

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ POST AUDIO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <div class="card rounded-3">
    <a href="#" class="text-decoration-none text-dark">

      <div class="card-header">
        <p class="username"><img src="assets/img/icon_user.png" alt="User Icon" width="20" height="20" class="user--photo rounded-circle">username</p>
        <h5 class="card-title">Un titulo increíble del post</h5>
      </div>
      
      <div class="card-body">
        <audio class="w-100" controls src='assets/audio/RickRoll.mp3' type="audio/mp3">
          Your browser does not support the <code>audio</code> element.
        </audio>
      </div>
      <div class="card-footer text-muted d-flex align-items-center justify-content-between">
        <h6>Comentarios</h6><i class="post--up fa-solid fa-circle-up"> 58</i>
      </div>

    </a>
  </div>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ POST TEXTO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <div class="card rounded-3">
    <a href="#" class="text-decoration-none text-dark">

      <div class="card-header">
        <p class="username"><img src="assets/img/icon_user.png" alt="User Icon" width="20" height="20" class="user--photo rounded-circle">username</p>
        <h5 class="card-title">Un titulo increíble del post</h5>
      </div>
      
      <div class="card-body">
        <h5 class="post--text">Lorem ipsum dolor sit amet consectetur adipiscing elit congue eros, euismod tincidunt donec aptent est in neque varius, turpis pellentesque accumsan cum ultricies viverra molestie vulputate. Ac orci egestas tincidunt dictumst ornare morbi ante, ultricies eros fames nascetur facilisi dictum arcu, sollicitudin gravida conubia nostra nibh mattis. Parturient consequat luctus nascetur quis interdum primis ad senectus turpis, varius dis integer magnis ullamcorper ligula nisi suscipit massa, mollis etiam dapibus sociosqu duis neque vehicula vestibulum.</h5>
      </div>
      <div class="card-footer text-muted d-flex align-items-center justify-content-between">
        <h6>Comentarios</h6><i class="post--up fa-solid fa-circle-up"> 58</i>
      </div>

    </a>
  </div>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TOP BUTTON ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  
  <ng-go-top-button >
    <i><span class="material-symbols-outlined">
      pan_tool_alt
    </span></i>
  </ng-go-top-button>
  
</body>