.card{
    /* background-color: black; */
    background-color: white;
    transition: 0.5s;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
}

.create{
    background-color: rgb(245, 245, 245);
}

.create:hover{
    background-color: rgb(248, 248, 248);
    /* color: black; */
}

.tipo{
    background-color: rgb(204, 115, 255);
    border: none;
    color: white;
    font-weight: bold;
}

.username{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 160px;
}

.user--photo{
    margin-right: 2px;
}

.card-title{
    margin-top: -0.8%;
    font-weight: bold;
}

.post--image{
    height: auto;
    width: 100%;
    max-height: 1000px;
}

.comments:hover{
    color: rgb(255, 82, 82);
    transition: 0.3s;
}

.pointer{
    cursor: pointer;
}

.comments--trash:hover{
    color: rgb(255, 82, 82);
    transition: 0.3s;
}

.post--up:hover{
    color: rgb(255, 82, 82);
    transition: 0.3s;
}

.post--like{
    position: absolute;
    margin-top: -15.3px;
}

.category{
    position: absolute;
    top: 9px;
    right: 12px;
    background-color: rgb(255, 176, 251);
}

.categoryfilter .btn{
    background-color: rgb(204, 115, 255);
}

.categoryfilter .btn:hover{
    background-color: rgb(189, 74, 255);
}

@media only screen and (max-width: 1400px) {

    .card{
        margin-left: 25%;
        margin-right: 25%;
    }

}

@media only screen and (max-width: 1100px) {

    .card{
        margin-left: 20%;
        margin-right: 20%;
    }

}

@media only screen and (max-width: 800px) {

    .card{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 4%;
    }

}

@media only screen and (max-width: 500px) {

    .card{
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 5%;
    }

}