body {
    margin: 0;
    margin-bottom: 7%;
}

.title{
    font-family: 'Fredoka One', cursive;
}

.soundtalk{
    font-size: 5vw;
}

.text{
    font-family: 'Questrial', sans-serif;
}

h3{
    font-size: 1.1vw;
}

h2{
    font-size: 1.7vw;
}

.div--first{
    background-image: url("/assets/img/Bckgd1.jpg");
    background-repeat: no-repeat;
    background-color: rgb(185, 0, 0);
    background-size: cover;
}

.div--second{
    background-image: url("/assets/img/Bckgd2.jpg");
    background-repeat: no-repeat;
    background-color: rgb(0, 114, 221);
    background-size: cover;
}

.div--third{
    background-image: url("/assets/img/Bckgd3.jpg");
    background-repeat: no-repeat;
    background-color: rgb(4, 122, 0);
    background-size: cover;
}

.div--forth{
    background-image: url("/assets/img/Bckgd4.jpg");
    background-repeat: no-repeat;
    background-color: rgb(201, 0, 191);
    background-size: cover;
}

.div--meet{
    background-image: url("/assets/img/Bckgd5.jpg");
    background-repeat: no-repeat;
    background-color: rgb(201, 0, 191);
    background-size: cover;
}

.foto--landing{
    width: 23vw;
    height: auto;
}

.bg-custom{
    background-color:#41005faf;
}

.button-fixed{
    bottom: 0;
    position: fixed;
    right: 0;
    border-radius: 4px;
}

.fas{
    cursor: pointer;
    font-size: 24px;
}

.cookie--text{
    font-size: 14px;
}

.card{
    background-color: rgba(0, 0, 0, 0);
}

.card--text{
    font-weight: bold;
}

.images--carousel{
    height: 100%;
}

.div--meet_img{
    width: 330px; 
    height: 400px;
}

@media only screen and (max-width: 1800px) {
    
    h3{
        font-size: 1.45vw;
    }

    h2{
        font-size: 2vw;
    }

}

@media only screen and (max-width: 1400px) {
    
    .foto--landing{
        width: 30vw;
        height: auto;
    }

    h3{
        font-size: 1.7vw;
    }

    h2{
        font-size: 2.35vw;
    }

}

/* @media only screen and (max-width: 1250px) {

    .images--carousel{
        
    }

} */

@media only screen and (max-width: 990px) {
    
    .foto--landing{
        width: 35vw;
        height: auto;
    }

    h3{
        font-size: 2vw;
    }

    h2{
        font-size: 2.65vw;
    }

}

@media only screen and (max-width: 768px) {
    
    .all{
        margin-top: 13vw;
    }

}

@media only screen and (max-width: 680px) {

    .images--carousel{
        height: 75%;
        margin-top: 13vw;
        
    }

}

@media only screen and (max-width: 530px) {

    .images--carousel{
        height: 63%;
        margin-top: 13vw;
        
    }

}

@media only screen and (max-width: 450px) {
    
    .all{
        margin-top: 40vw;
    }

    .images--carousel{
        height: 50%;
        margin-top: 35vw;
        
    }

}