<body>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <app-header-logged></app-header-logged>

  <section class="">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col">
          <div class="card">
            <div class="profile--header text-black d-flex">
              <div class="ms-4 mt-5 d-flex flex-column">
                <img src="assets/img/NFT.jpg" alt="User Image" class="profile--image img-fluid img-thumbnail mt-4 mb-2">
                <button type="button" class="btn btn-outline-dark" style="z-index: 1;">
                  Editar perfil
                </button>
              </div>
              <div class="profile--info ms-3">
                <h5 class="fw-bold">Oliver Bocanegra</h5>
                <p>New York</p>
              </div>
            </div>
            <div class="p-4 text-black">
              <div class="d-flex justify-content-end text-center py-1">
                <div>
                  <p class="mb-1 h5">253</p>
                  <p class="small text-muted mb-0">Photos</p>
                </div>
                <div class="px-3">
                  <p class="mb-1 h5">1026</p>
                  <p class="small text-muted mb-0">Followers</p>
                </div>
                <div>
                  <p class="mb-1 h5">478</p>
                  <p class="small text-muted mb-0">Following</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  
  <app-footer></app-footer>

</body>