.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

body{
    height: 100%;
    overflow: hidden;
}

.form--alert{
    margin-bottom: -7px;
}

@media only screen and (max-width: 520px) {
   
    .image{
        display:none !important;
    }

}

@media only screen and (max-width: 992px) {
    
    body{
        overflow-y: scroll;
    }

}