<footer class="page-footer py-4">

  <!-- Footer copyright -->

  <div class="footer-copyright text-center">
    <b><a routerLink="/terms" routerLinkActive="active" class="text-start">© 2022 Copyright: SoundTalk</a></b>
  </div>
  
  <!-- Footer Links -->

  <div class="container mt-1">
    <!-- Section: Social media -->
    <section class="text-center">

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/pedrele23" target="_blank" role="button">
        <i class="fab fa-twitter"></i>
      </a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com/" target="_blank" role="button">
        <i class="fab fa-google"></i>
      </a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/pedreleee23/" target="_blank" role="button">
        <i class="fab fa-instagram"></i>
      </a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.discord.com/" target="_blank" role="button">
        <i class="fa-brands fa-discord"></i>
      </a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/JoMoMe/SoundTalk" target="_blank" role="button">
        <i class="fab fa-github"></i>
      </a>

    </section>
  </div>
</footer>