<body>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <app-header-logged></app-header-logged>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CREAR POST ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <form class="create card rounded-3">

    <div class="card-header">
      <h5 class="card-title mt-2">Crea un post</h5>
    </div>
    
    <div class="card-body">
      <div class="form-group mb-3">
        <label>Titulo</label>
        <input class="form-control mt-1" placeholder="Escribe un titulo...">
      </div>

      <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
        <button type="button" class="tipo btn btn-outline-primary btn-sm me-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Tipo de post</button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button ngbDropdownItem>Imagen</button>
          <button ngbDropdownItem>Audio</button>
          <button ngbDropdownItem>Texto</button>
        </div>
      </div>
      <hr class="w-100 my-3"/>
      
      <!-- Crear post imagen -->

      <div hidden>
        <div class="form-group my-3">
          <input type="file" accept="image/*" class="form-control" id="customFile" />
          <button type="button" class="btn btn-success btn-sm mt-2">Crear post</button>
        </div>
      </div>

      <!-- Crear post audio -->

      <div>
        <div class="form-group my-3">
          <input type="file" accept=".mp3,audio/*" class="form-control" id="customFile" />
          <button type="button" class="btn btn-success btn-sm mt-2">Crear post</button>
        </div>
      </div>
      
    </div>

  </form>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ POST IMAGE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- routerLink="/" routerLinkActive="active" -->

  <div class="card rounded-3">
    <a href="#" class="text-decoration-none text-dark">

      <div class="card-header">
        <p class="username"><img src="assets/img/icon_user.png" alt="jmm" width="20" height="20" class="user--photo rounded-circle">username</p>
        <h5 class="card-title">Un titulo increíble del post</h5>
      </div>
      
      <div class="card-body">
        <a href="assets/img/Bckgd2.jpg"><img class="post--image" src="assets/img/Bckgd2.jpg" alt=""></a>
      </div>
      <div class="card-footer text-muted d-flex align-items-center justify-content-between">
        <h6>Comentaris</h6><i class="post--up fa-solid fa-circle-up"> 58</i>
      </div>

    </a>
  </div>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ POST AUDIO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <div class="card rounded-3">
    <a href="#" class="text-decoration-none text-dark">

      <div class="card-header">
        <p class="username"><img src="assets/img/icon_user.png" alt="jmm" width="20" height="20" class="user--photo rounded-circle">username</p>
        <h5 class="card-title">Un titulo increíble del post</h5>
      </div>
      
      <div class="card-body">
        <audio class="w-100" controls src='assets/audio/RickRoll.mp3' type="audio/mp3">
          Your browser does not support the <code>audio</code> element.
        </audio>
      </div>
      <div class="card-footer text-muted d-flex align-items-center justify-content-between">
        <h6>Comentaris</h6><i class="post--up fa-solid fa-circle-up"> 58</i>
      </div>

    </a>
  </div>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ POST TEXTO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <div class="card rounded-3">
    <a href="#" class="text-decoration-none text-dark">

      <div class="card-header">
        <p class="username"><img src="assets/img/icon_user.png" alt="jmm" width="20" height="20" class="user--photo rounded-circle">username</p>
        <h5 class="card-title">Un titulo increíble del post</h5>
      </div>
      
      <div class="card-body">
        <h5 class="post--text">Lorem ipsum dolor sit amet consectetur adipiscing elit congue eros, euismod tincidunt donec aptent est in neque varius, turpis pellentesque accumsan cum ultricies viverra molestie vulputate. Ac orci egestas tincidunt dictumst ornare morbi ante, ultricies eros fames nascetur facilisi dictum arcu, sollicitudin gravida conubia nostra nibh mattis. Parturient consequat luctus nascetur quis interdum primis ad senectus turpis, varius dis integer magnis ullamcorper ligula nisi suscipit massa, mollis etiam dapibus sociosqu duis neque vehicula vestibulum.</h5>
      </div>
      <div class="card-footer text-muted d-flex align-items-center justify-content-between">
        <h6>Comentaris</h6><i class="post--up fa-solid fa-circle-up"> 58</i>
      </div>

    </a>
  </div>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TOP BUTTON ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  
  <ng-go-top-button >
    <i><span class="material-symbols-outlined">
      pan_tool_alt
    </span></i>
  </ng-go-top-button>
  
</body>