<body>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <app-header-logged></app-header-logged>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ POST ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <div class="card rounded-3">
    <a href="#" class="text-decoration-none text-dark">
    <div class="card-header">
      <p class="username"><img src="/assets/img/icon_user.png" alt="mdo" width="20" height="20" class="user--photo rounded-circle">username</p>
      <h5 class="card-title">Un titulo a todo ojete</h5>
    </div>
    
    <div class="card-body">
      <img class="post--image" src="/assets/img/Bckgd4.jpg" alt="">
    </div>
    <div class="card-footer text-muted">
      <p>Comentaris</p>
    </div>
    </a>
  </div>
  
</body>